body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width:50%;
    padding:1% ;
}
.half-width img{
width: 80%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding:20px 40px;
    border-radius: 5px;
    color: white;

}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}
  h2{
      font-size: 40px;
  }  
  .experience-area{
      background-image: url(images/exp-bg.png);
      background-position: left;
      background-repeat: no-repeat;
  }
#web-dev-experience{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 7px solid;
    
}
#web-dev-stack{
    border-image: linear-gradient(rgb(233, 14, 233),rgb(179, 30, 4));
    border-image-slice: 1;
    border-left: 7px solid;
    
}
footer p{
    text-align: center;
}